<html>
  <head>
      <link href="/styles/index.css" rel="stylesheet"></link>
      <link href="/styles/categorias.css" rel="stylesheet"></link>
  </head>

  <body>
    <div class="head">
      <h1> Categorias </h1>
        <div class="body">
          <% categorias.forEach(function (categoria) { %>
            <div class="element">
              <h2>
                  <a href=<%= `/categorias/${categoria.id}` %>>
                    <%= categoria.nombre %>
                  </a>
              </h2>
            </div>
          <% }) %>
      </div>
      <div class="add">
        <form action="/categorias" method="POST">
          <input name="nombre" placeholder="Nombre"/>
          <input type="submit" value="Agregar"/>
        </form>
      </div>
    </div>
  </body>
</html>

