.principal_box {
    margin-top: 140px;
    margin-bottom: 140px;
}


body {
    
    background-color: #343a40;

    }
    

.header{
    color: #C2A200;
}
.navbar {
    height: 56px;
    background-color: #201f20;
    color: #C2A200;
}

.bodi {
    background-color: #323033;
}

.bodi::-webkit-scrollbar {
    display: none;
}
.videos{
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    height: 256.17px;
}

.imagen2 {
    display: inline-block;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 291px;
    padding: 12px;
    height: 200px;


}

.imagen {
    padding-left: 0px;
    margin: 0;
    height: 256.17px;
    padding: 0px;
}


.divarriba{
    display:flex;
    justify-content: center;
    height: 56px;
}
.title {
    font-family: 'Hammersmith One';
    display: flex;                                 
    justify-content: center;
    color: white;
}
.title2 {
    margin-top: 200px;
    font-family: 'Hammersmith One';
    /*display: flex;*/
    font-size: 10px;
    width: 450px;
    justify-content: center;
    color: white;       
}
.title1 {
    margin-top: 180px;
    font-family: 'Hammersmith One';
    height: 35px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    color: #C2A200;
}


.comentario{
    margin-top: 300px;
    font-family: 'Hammersmith One';
    height: 20px;
    display: flex;
    justify-content: center;
    color: white;
}
.overlayFade {
    height: 256.17px;
    width: 455.41px;
    padding: 0px;
    top: 0;
    left: 0;
    background-color: #ff946bbd;
}

.red {
    background-color: red;
}

.carrousel {
  
}

.carrousel-box {
   
    color: white;
    font-size: 10px;
    margin-top: 330px;
    position: relative;

}

.overlay {

    padding: 0px;
    color: white;
    position: absolute;
    height: 256.17px;
    width: 455.41px;
    margin-top: 112px;
    opacity: 0.3;
    transition: all .3s ease;
    background-color: #2525259c;
}

.overlay-mid {

    padding: 0px;
    color: white;
    position: absolute;
    height: 256.17px;
    width: 455.41px;
    margin-top: 112px;
    margin-left: 455.41px;
    opacity: 0;
    transition: all .3s ease;
    background-color: #2525259c;
}

.overlay2 {

    padding: 0px;
    color: white;
    position: absolute;
    height: 256.17px;
    width: 455.41px;
    margin-top: 368.17px;
    opacity: 0;
    transition: all .3s ease;
    background-color: #2525259c;
}



.overlay3 {
    color: white;
    position: absolute;
    height: 256.17px;
    width: 455.41px;
    margin-top: 624.34px;
    opacity: 0;
    transition: all .3s ease;
    background-color: #2525259c;
}

.overlay-mid2 {
    color: white;
    position: absolute;
    height: 256.17px;
    width: 455.41px;
    margin-top: 368.17px;
    margin-left: 455.41px;
    opacity: 0;
    transition: all .3s ease;
    background-color: #2525259c;
}

.overlay-mid3 {
    color: white;
    position: absolute;
    height: 256.17px;
    width: 455.41px;
    margin-top: 624.34px;
    margin-left: 455.41px;
    opacity: 0;
    transition: all .3s ease;
    background-color: #2525259c;
}

.overlay-right2 {
    color: white;
    position: absolute;
    height: 256.17px;
    width: 455.41px;
    margin-top: 368.17px;
    margin-left: 910.82px;
    opacity: 0;
    transition: all .3s ease;
    background-color: #2525259c;
}

.overlay-right3 {
    color: white;
    position: absolute;
    height: 256.17px;
    width: 455.41px;
    margin-top: 624.34px;
    margin-left: 910.82px;
    opacity: 0;
    transition: all .3s ease;
    background-color: #2525259c;
}

.overlay-right {
    color: white;
    position: absolute;
    height: 256.17px;
    width: 455.41px;
    margin-top: 112px;
    margin-left: 910.82px;
    opacity: 0;
    transition: all .3s ease;
    background-color: #2525259c;
}

.col-4np:hover.overlay-mid2,
.contenedor:hover .overlayFade {
    opacity: 1;
}

.col-4np:hover.overlay-right2,
.contenedor:hover .overlayFade {
    opacity: 1;
}
.col-4np:hover.overlay-right3,
.contenedor:hover .overlayFade {
    opacity: 1;
}
.col-4np:hover.overlay3,
.contenedor:hover .overlayFade {
    opacity: 1;
}
.col-4np:hover.overlay-mid3,
.contenedor:hover .overlayFade {
    opacity: 1;
}
.col-4np:hover.overlay,
.contenedor:hover .overlayFade {
    opacity: 1;
}

.col-4np:hover.overlay-mid,
.contenedor:hover .overlayFade {
    opacity: 1;
}

.col-4np:hover.overlay,
.contenedor:hover .overlayFade {
    opacity: 1;
}

.col-4np:hover.overlay-right,
.contenedor:hover .overlayFade {
    opacity: 1;
}

.overlaytext {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
}



.col-4np {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding: 0;
    position: relative;
}

.Informacion {
    position: absolute;
    top: 10px;
    left: 10px;

}

.nombre_usuario {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  text-transform: uppercase;
  color: white;
}

.search-box {
    transform: translate(-50%, -50%);
    background: #FBDB14;
    border-radius: 40px;
    height: 40px;
    margin: 20px;
}

.search-box:hover>.search_txt {
    width: 200px;
}

.search_btn {
    background: #FBDB14;
    color: white;
    float: rigth;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    padding-left: 10px;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

.nav_pagination {
    margin: auto;
    position: relative;
    margin-bottom: 0;
    margin-top: 30px;
}

.box {
    text-align: center;
}

.user_pagination {
    margin: right, auto;
    position: relative;
}

.dropdow_left {
    margin: right, auto;
    position: relative;
}

.pagination_img {
    border: 1px;
}

.search {
    height: 100px;
    padding: 50px 0;
}

.centro {
    display: block;
    margin: auto;
    position: relative;
}

.imagen_contenido {
    display: inline-block;
    width: 30%;
}

.contenido {
    display: inline-block;
    float: right;
    width: 70%;
}

.red {
    background-color: red;
}

.vio {
    background-color: violet;
}

.green {
    background-color: green;
}

.padding {
    margin: 30px;
}

.altura_normal {
    height: 300px;
}

.altura_extendido {
    height: 600px;
}

.page {
    width: fit-content;
}

.contenedor {
    margin: 20px auto 0 auto;
    position: relative;
    width: 80%;
}



.objeto {
    margin-top: 30px;
}

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: black;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#footer {
    background: #323033 !important;
}

#footer h5 {
    padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color: #ffffff;
}

#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

#footer ul.social li {
    padding: 3px 0;
}

#footer ul.social li a i {
    margin-right: 5px;
    font-size: 25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer ul.social li:hover a i {
    font-size: 30px;
    margin-top: -10px;
}

#footer ul.social li a,
#footer ul.quick-links li a {
    color: #ffffff;
}

#footer ul.social li a:hover {
    color: #eeeeee;
}

#footer ul.quick-links li {
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer ul.quick-links li:hover {
    padding: 3px 0;
    margin-left: 5px;
    font-weight: 700;
}

#footer ul.quick-links li a i {
    margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px) {
    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}

.respuesta {
    margin: left;
    margin-top: 60px;
    height: 60px;
}

.pagination2 {
    margin: auto;
    margin-top: 80px;
}

nav {
    font-family: 'Montserrat', sans-serif;
}

div {
    font-family: 'Montserrat', sans-serif;
    color: black;
}

footer {
    font-family: 'Montserrat', sans-serif;
    background-color: red;
}

.mother {}

.notpadding {
    padding-left: 0;
    padding-right: 0;
    padding: 0;
    padding-top: 0;
}

.notmargin {
    margin-top: 0;
}

.notborder {
    border-top: 0;
}

/*

Estilos del reproductot

*/

.player-style{
    background-color: black;
    height: 500px;
    align-content: center;
    margin-bottom: 50px;
    margin-top: 50px;

}


/*Estilos*/

.alig-carrousel {
    display: inline-block;
    margin-top: 50px;
    background-color: #201f20;
}

