div {
  text-align: center;
  border-style: ridge; 
  border-width: 1px;
  border-radius: 5px;
  border-color: blue;
  margin: 5px;
}

div.head {
  padding: 10px;
}

div.body {
  border-style: ridge; 
  border-width: 1px;
  border-radius: 5px;
  border-color: blue;
}

div.element {
  border-style: none;
}

form {
  margin: 10px;
}

input {
  font-size: 20px;
  margin: 5px;
  position: relative;
  width: 100%;
}